[diff]
	algorithm = patience
[protocol]
	version = 2
[user]
	name = Wai Lau
	email = user@example.com
	signingkey = 54C7BFC2822628F6
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/wai/.gitignoreglobal
	commitGraph = true
[alias]
  p = !git pull upstream master --rebase
  fp = !git push --force-with-lease origin $(git rev-parse --abbrev-ref HEAD)
  f = !git add -A && git commit --amend --no-edit
  m = !git fetch upstream master && git merge upstream/master --no-edit
	ff = !git m && git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
  d1 = !git diff HEAD~1 HEAD
  d = !git diff
  fbf = !git f && git fb && git fp
  c = !git checkout
  co = !git commit
  b = !git branch
  bb = !git checkout -b
  l = !git log --oneline --graph
[gc]
	writeCommitGraph = true
[pull]
	rebase = true
[url "git@github.example.com:"]
  insteadOf = https://github.example.com/
[commit]
	gpgsign = true
[color]
	ui = true
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = https://github.com/
