# Ignore everything
*
!.gitignore
!.gitignoreglobal
!.gitconfig
!CLAUDE.md
!.vimrc
!.zshrc
!.tmux.conf
!.tmux-off.conf

!.vim
!.vim/*
!.vim/**/*

!.alias.zsh
!.local.zsh

!.claude
!.claude/statusline-command.sh

!src/
!src/repo/
!src/repo/scripts/
!src/repo/scripts/rc/
!src/repo/scripts/rc/rc.sh

