[protocol]
  version = 2
[user]
  name = wailun-lau
  email = user@example.com
  signingKey = 741C7ECBBC37E71C
[core]
  editor = /usr/bin/vim
  excludesfile = /Users/wai/.gitignoreglobal
  commitGraph = true
[alias]
  fp = !git push --force-with-lease origin $(git rev-parse --abbrev-ref HEAD)
  f = !git add -A && git commit --amend --no-edit
  r = !git reset
  R = !git reset --hard
  ff = "!f() { \
    branch=$(git remote show origin | sed -n '/HEAD branch/s/.*: //p'); \
    git fetch origin $branch && git rebase origin/$branch && \
    git push --force-with-lease --set-upstream origin $(git rev-parse --abbrev-ref HEAD); \
  }; f"
  d1 = !git diff HEAD~1 HEAD
  d = !git diff
  fbf = !git f && git fb && git fp
  c = !git checkout
  co = !git commit
  b = !git branch
  bb = !git checkout -b
  l = !git log --oneline --graph
[gc]
  writeCommitGraph = true
[pull]
  rebase = true
[url "git@github.example.com:"]
  insteadOf = https://github.example.com/
[commit]
	gpgsign = false
[color]
  ui = true
[push]
  default = simple
[url "git@github.com:"]
  insteadOf = https://github.com/
  insteadOf = https://github.com/
[gpg]
  program = /opt/homebrew/bin/gpg
